<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a routerLink="/" class="flex items-center space-x-3">
          <span class="text-lg font-semibold text-gray-800">Vitality</span>
        </a>
        <div class="hidden md:flex md:ml-6 md:space-x-4">
          <a routerLink="/sports" routerLinkActive="text-indigo-600"
             class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-600  cursor-pointer">Sports</a>
          <a routerLink="/events" routerLinkActive="text-indigo-600"
             class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-600  cursor-pointer">Events</a>
          <a routerLink="/about" routerLinkActive="text-indigo-600"
             class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-600 cursor-pointer">About</a>
        </div>
      </div>
    </div>
  </div>
</nav>
